* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(234, 237, 237);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.app__container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex: 1;
  margin: 1rem;
  min-height: 50rem;
}

.app__heading {
  color: #6a5d5d;
}

.server__button {
  padding: 0.7rem 0.5rem;
  background-color: tomato;
  cursor: pointer;
  color: #f3f2f8;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
}

.server__button:hover,
.server__button:active {
  background-color: teal;
  box-shadow: 4px 4px 4px rgba(0, 128, 128, 0.5);
}

.app__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px solid white;
  flex: 0.69;
}

.app__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  flex: 0.3;
}

.app__table__head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #6a5d5d;
}

.app__table {
  overflow: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 130px;
  width: 79%;
}

.app__table tr {
  display: flex;
  justify-content: space-evenly;
  width: 82%;
  margin: auto 1rem;
}

.app__table td {
  display: flex;
  padding: 0.5rem;
  border: none;
  text-transform: capitalize;
}

.app__table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

@media (max-width: 760px) {
  .app__container {
    flex-direction: column;
    width: 94%;
    margin-bottom: 2rem;
  }
  h2 {
    margin: 1rem auto;
    font-size: 20px;
  }

  .app__right {
    padding-top: 1rem;
  }
  .app__table {
    width: 90%;
    margin-top: 0rem;
  }
  .app__table tr {
    width: 90%;
  }
}
