.MuiAvatar-root.MuiAvatar-root {
  color: transparent;
  width: 16%;
  height: auto;
  object-fit: cover;
  text-align: center;
  margin-left: 14rem;
  margin-top: -8rem;
}

@media (max-width: 800px) {
  .MuiAvatar-root.MuiAvatar-root {
    width: 15%;
    margin-left: 13rem;
    margin-top: -5rem;
  }
}

@media (max-width: 500px) {
  .MuiAvatar-root.MuiAvatar-root {
    color: transparent;
    width: 15%;
    margin-left: 10rem;
    margin-top: -5rem;
  }
}
