.history {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: -4rem;
}
.history > h1 {
  margin-top: 5rem;
  color: #6a5d5d;
}

.history__table__head {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6a5d5d;
}

.history__table {
  color: #6a5d5d;
  background-color: white;
  width: 100%;
}

.table-container {
  overflow: scroll;
  height: 270px;
  width: 95%;
  border: 0.1px solid white;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.history__table tr {
  display: flex;
  justify-content: space-between;
}

.history__table td {
  display: flex;
  padding: 0.5rem;
  border: none;
  width: 60%;
  text-transform: capitalize;
}

.history__table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

@media (max-width: 760px) {
  h1 {
    font-size: 28px;
  }
  .history {
    margin-top: -3rem;
  }
}
